@model IEnumerable<AspNetCoreAuthCookie.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>User List</h3>
<hr />

@if (TempData["MessageUser"] != null)
{
    <div class="alert alert-success">
        @TempData["MessageUser"]
    </div>
}


@if (TempData["MessageDeletedUser"] != null)
{
    <div class="alert alert-danger">
        @TempData["MessageDeletedUser"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTypes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTypes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
